.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo-img{
  height:50px;
  border-radius: 50%;
}

.nav-container{
  margin-bottom: 10px;
  color:#2c1838;
}

.btn-login{
  height:40px;
  border-radius: 3px;
  font-weight: bold;
  border:1px solid rgb(67, 67, 189);
  background-color: rgb(67, 67, 189);
  display:flex;
  justify-content: center;
  align-items: center;
  color:white;
}
.btn-login :hover{
  cursor:pointer;
}