.container {
  display: flex;
  margin-top: 10px;
}


.logo-img{
  height:50px;
  border-radius: 50%;
}

.nav-container{
  margin-bottom: 10px;
  color:#2c1838;
}

.link {
  text-decoration: none;
  color: inherit;
}