<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script>
    let status = JSON.stringify('<%= status %>');

    if(JSON.parse(status) == "verified") {
      if(confirm("Do you want to login?")) {
        window.location.href = 'http://localhost:3000/login'
      }
    }
  </script>
</head>
<body>
  <div style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
    <h1 style="color: #1976d2; font-size: 22px; font-family: 'Roboto',Helvetica, sans-serif;">Reset Password</h1>
    <div style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
      <form action="" method="POST">
       <div style="display: flex; align-items: left; justify-content: space-between; flex-direction: column; width: 150px; gap: 10px;">
         <label for="password" style="font-family: 'Roboto',Helvetica, sans-serif;">Password</label>
         <input type="password" id="password" name="password" style="width: 250px; height: 30px;">
       </div>
       <br>
       <div style="display: flex; align-items: left; justify-content: space-between; flex-direction: column; width: 150px; gap: 10px;">
         <label for="password2" style="font-family: 'Roboto',Helvetica, sans-serif;">Confirm Password</label>
         <input type="password" id="password2" name="password2" style="width: 250px; height: 30px;">
       </div>
       <br>
       <input type="submit" value="Reset Password" style="background-color: #0971f1; height: 40px; width: 250px; border: none; border-radius: 5px; font-family: 'Roboto',Helvetica, sans-serif; color: white ; font-size: 12px; margin-left: 2px;">
      </form> 
    </div>
  </div>
</body>
</html>