.adminProductList {
  display: flex;
}

.productList {
  flex: 4;
  height: 75vh;
}

.productListItem {
  display: flex;
  align-items: center;
}

.productListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.productListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #3bb077;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.productListDelete {
  color: red;
  cursor: pointer;
}

.productTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.productTitle{
  height:0.5em;
}
.productAddButton {
  width: 200px;
  border: none;
  padding: 5px;
  background-color: teal;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.adminNewProduct {
  display: flex;
}

.productWrapper {
  /* height: 75vh;
  width: 100vw; */
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.newProduct {
  flex: 1;
}

.addProductForm {
  margin-top: 10px;
}

.addProductItem {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.addProductItem>label {
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
}

.addProductItem>input {
  padding: 10px;
}

.addProductItem>select {
  padding: 10px;
}

.addProductButton {
  margin-top: 10px;
  padding: 7px 10px;
  border: none;
  border-radius: 10px;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
